.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px dashed red;
  padding: 8px;
}
.poemInput {
  width: 100%;
  flex-grow: 1;
  padding: 8px;
  resize: none;
}
.greebleContainer {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.subHed {
  margin-bottom: 4px;
}
